@import url(./fonts.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main.css);
@import url(./details.css);

/* GLOBAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-variant-numeric: lining-nums;
  padding: 32px 80px;
  background: url(/assets/images/background.jpg);
  background-position: center left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f5f4f4;
}

li {
  list-style: none;
}

input {
  border: none;
  background-color: #f5f4f466;
  font-family: 'Raleway';
}

input:hover,
input:active {
  background-color: #dadada;
}

input::placeholder {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1120px;
  margin: 0 auto;
  backdrop-filter: blur(50px);
  border-radius: 8px;
}
