@import url(./fonts.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main.css);
@import url(./details.css);
@import url(./slider.css);
@import url(./normalize.css);
@import url(./queries.css);

/* GLOBAL */

:root {
  --color-black: #202020;
  --color-lighter-black: #393939;
  --color-light: #f5f4f4;
  --color-bg-grey: #f5f4f466;
  --color-bg-ligher-grey: #dadada;
  --color-grey: #707070;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-variant-numeric: lining-nums;
  background: url(/assets/images/background.jpg);
  background-position: center left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-light);
}

li {
  list-style: none;
}

input {
  border: none;
  background-color: var(--color-bg-grey);
  font-family: 'Raleway';
}

input:hover,
input:active {
  background-color: var(--color-bg-ligher-grey);
}

input::placeholder {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  backdrop-filter: blur(50px);
  border-radius: 8px;
}
